[submodule "waveglow"]
	path = waveglow
	url = https://github.com/NVIDIA/waveglow
	branch = master
[submodule "hifi-gan"]
	path = hifigan
	url = git@github.com:prattcmp/hifigan.git
[submodule "g2p"]
	path = g2p
	url = git@github.com:prattcmp/g2p.git
[submodule "speakerembedding"]
	path = speakerembedding
	url = git@github.com:prattcmp/speakerembedding.git
